BasedOnStyle: Google
ColumnLimit: 100
IndentWidth: 2
UseTab: Never
BreakBeforeBraces: Attach
InsertBraces: true
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
PointerAlignment: Left
DerivePointerAlignment: false
SortIncludes: CaseInsensitive
IncludeBlocks: Regroup
